.Container {
  border-radius: 15px;
  min-height: 750px;
  height: auto;
  background-color: #fff;
  padding: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  height: 56px;
}

.InputContainer {
  width: auto;
  position: relative;
}

.SearchFriend {
  padding: 4px 4px 4px 25px;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.SearchFriend:hover {
  background-color: #e3e3e3;
}
.SearchFriend:focus {
  background-color: #e3e3e3;
}

.SearchIcon {
  top: 5px;
  left: 5px;
  position: absolute;
}

.FriendsGrid {
  border-radius: 0 0 15px 15px;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 100px;
  justify-items: center;
}
