.Container {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  height: auto;
  padding: 10px;
}

.PersonnalInfo {
  height: auto;
  width: auto;
  margin-left: 5px;
  margin-top: 15px;
}

.CenterTxt {
  margin: 10px 0 0 10px;
}
